
	<div class="container">
		
		<div class="col-12">
			
			<br>

			<h1>Blog</h1>

			<br>

			<div class="row">
				
				<div class="col-4">
					
					<div class="card" style="width: 19rem;">
					  <img height="230px" src="https://avatars.githubusercontent.com/u/4223" class="card-img-top" alt="Rails">
					  <div class="card-body">
					    <h5 class="card-title">Card title</h5>
					    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a href="#" class="btn btn-primary">Go somewhere</a>
					  </div>
					</div>
				
				</div>

				<div class="col-4">
					
					<div class="card" style="width: 19rem;">
					  <img height="230px" src="https://avatars.githubusercontent.com/u/4223" class="card-img-top" alt="Rails">
					  <div class="card-body">
					    <h5 class="card-title">Card title</h5>
					    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a href="#" class="btn btn-primary">Go somewhere</a>
					  </div>
					</div>
				
				</div>

				<div class="col-4">
					
					<div class="card" style="width: 19rem;">
					  <img height="230px" src="https://avatars.githubusercontent.com/u/4223" class="card-img-top" alt="Rails">
					  <div class="card-body">
					    <h5 class="card-title">Card title</h5>
					    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a href="#" class="btn btn-primary">Go somewhere</a>
					  </div>
					</div>
				
				</div>

			</div>


		</div>

	</div>